{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
{% endblock %}
{% block page_title%}
{%endblock  %}

{% block content %}
    <div class="container mt-3">
    <div class="row">
        <div class="col-3" style="margin-left: 480px ; margin-top: 50px">
             <h1 style="margin-left: 75px">Üye Ol</h1>

             <form method="post">
                 {% csrf_token %}
                 {% if hata %}
                     <div class="alert alert-danger">
                         {{ hata }}
                     </div>
                 {% endif %}

                 <!-- Kullanıcı Adı Alma -->
                 <div class="mb-3 mt-5 ">
                     <label  for="username" class="form-label ">Kullanıcı Adı</label>
                     <input type="text" name="username" id="username" class="form-control " required>
                 </div>
                  <!-- mail Adı Alma -->
                 <div class="mb-3 ">
                     <label  for="email" class="form-label ">E-mail</label>
                     <input type="email" name="email" id="email" class="form-control" required>
                 </div>


                 <!-- Parola Alma -->
                 <div class="mb-3">
                     <label  for="password" class="form-label">Parola</label>
                     <input type="password" name="password" id="password" class="form-control " required>
                 </div>

              <!-- TekrarParola Alma -->
                 <div class="mb-3">
                     <label  for="repassword" class="form-label">Tekrar Parola</label>
                     <input type="repassword" name="repassword" id="repassword" class="form-control" required>
                 </div>
             <button type="submit"  class="btn " style="background-color:#7dacdc ; color: antiquewhite; margin-left: 120px " >Üye Ol</button>

             </form>


        </div>
    </div>
    </div>

{% endblock %}

{% block js_files %}
    <script src="{% static 'shop/js/script.js' %}"></script>
{% endblock %}


